@import "variables";

:root {
  font-family: Montserrat, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;

  color: $color--black;
  background-color: $color--white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: $min-width;
  min-height: 100vh;
  overflow-x: hidden;
  box-sizing: border-box;
}

#app {
  position: relative;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 12px;
  width: calc(100% - 24px);
  height: inherit;
}

.container--spacing {
  @extend .container;

  padding: 120px 12px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  width: 100%;

  & .column {
    flex: 1;
    margin-bottom: 24px;
    min-width: $min-width;
  }
}

a {
  color: $color--orange;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    opacity: 0.8;
  }
}

.link-button {
  display: inline-block;
  background-color: $color--orange--accent;
  color: $color--white;
  border-radius: $border-radius-lg;
  font-weight: 600;
  padding: 16px 24px;
  margin: 12px 0;

  transition: all 0.2s ease;

  &:hover {
    text-decoration: none;
  }
}

h1, h2, h3 {
  margin-top: 0;
}

h1 {
  font-size: 50px;
  font-weight: 600;
  line-height: 1.23;
  letter-spacing: 1px;
}

h2 {
  font-size: 42px;
  font-weight: 600;
  line-height: 1.23;
  margin: 0 0 40px;
}

h3 {
  font-size: 24px;
  line-height: 1.35;
  font-weight: 600;
}

p {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0 0 16px;
}

@media #{$screen-mobile} {
  .container--spacing {
    padding: 60px 12px;
  }
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 34px;
    margin-bottom: 24px;
  }
  p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  a:hover {
    text-decoration: none;
    opacity: 1;
  }
}